# Control Structures


## IF, ELIF, ELSE

In [3]:
n = int(input('Type a number: '))

Type a number:  4

In [4]:
if n % 2 == 0:
    print('Even')
else:
    print('Odd')

Even

* Nested conditions:

In [7]:
name = 'Flinders'

if name == 'Flinders':
    age = 54
    print(age)
elif name == 'Adelide Uni':
    age = 146
    print(age)
else:
    print("Undefined")

54

* Boolean conditions

In [ ]:
x = 10
y = 11
z = 12

In [ ]:
if x < y and x < z:
    print("x é menor")
elif y < z:
    print("y é menor")
else:
    print("z é menor")

** Python does not have switch/case**

## WHILE loop

Execute while <condition> is true.

In [8]:
list = [1, 2, 3]
n = len(list) - 1

while (n != -1):
    print(list[n])
    n = n - 1

3
2
1

* Other way of writing:

In [9]:
list = [1, 2, 3]
n = len(list) - 1
while True:
    print(list[n])
    n = n - 1
    if n < 0:
        break

3
2
1

* Note the use of "break"

## FOR loop

In [12]:
products = ['ipad', 'mobile', 'notebook', 'tv']

In [13]:
for item in products:
    print(item)

ipad
mobile
notebook
tv

* ```enumerate()``` outputs the index and the corresponding value in a list

In [ ]:
for i, item in enumerate(produtos):
    print(i, item)

### ```range()``` function

```range(first, last, step)``` outputs an integer list. "fist" is zero by default.

step: ranges from first to last by a step.

In [16]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
r2 = range(0, 10, 2)
for i in r2:
    print(i)

0
2
4
6
8

* reversed iteration using ```reversed()```

In [19]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

* reversed iteration using ```range()```

In [20]:
num = 5
for num in range(num, 0, -1):
    print(num)

5
4
3
2
1

* Example:

In [23]:
l1 = list("abcdef")

In [24]:
l1

['a', 'b', 'c', 'd', 'e', 'f']

In [25]:
for item in l1:
    print(item)

a
b
c
d
e
f

In [26]:
for i in range(0, len(l1)):
    print(l1[i])

a
b
c
d
e
f

* Iterating in dictionaries:

In [27]:
people = dict([('jose',35), ('bilbo',28), ('john',20)])

In [28]:
for c, v in people.items():
    print(c, v)

jose 35
bilbo 28
john 20

## Exercises

#### 1 - Print only the negative numbers of the following list:

    ```numbers = [4, 5, 6, 7, 8, -3, 9, -4]```

#### 2 - Create a loops that prints all the even numbers between 0 and 100. Do it first using ```range()``` and again using the modulo operator %.